.section{
    margin-top:3rem;
}

.section.top{
    margin-top:10rem;
}

span.tag{
    background-color: rgba(30, 144, 255, .2);
    padding:5px;
    margin-right: 5px;
}

.arrow-bookmark{
    position:fixed;
    right: 10px;
    bottom:10px;
}
.topbookmark::before{
    content:"";
    display:block;
    height:50px;
    margin:-50px 0 0;
}
.sectionbookmark::before{
    content:"";
    display:block;
    height:20px;
    margin:-20px 0 0;
}

.card{
    background-color: rgba(244, 244, 244, 1);
    width: 20rem;
    margin: 1rem;
    border:0;
    border-radius: 0;
}

.card .header{
    background-color: rgba(30, 144, 255, .1);
}

.card .header .title{
    font-size:1.25rem;
    padding:1rem 1rem 0 1rem;
}

.card .header .language{
    font-size: .8rem;
    text-align: right;
    width: 100%;
    background-color: rgba(30, 144, 255, .5);
    padding-right: .5rem;
}

.card .header .language.cpp{
    background-color: rgba(243, 75, 125, .2);
}

.card .header .language.csharp{
    background-color: rgba(23, 134, 0, .2);
}

.card .header .language.shell{
    background-color: rgba(110, 74, 126, .2);
}

.card .header .language.javascript{
    background-color: rgba(241, 224, 90, .2);
}

.card .header .language.python{
    background-color: rgba(253, 176, 88, .4)
}

.card .body{
    padding-left: 1rem;
    padding-top: 1rem;
    height: 100%;
}

.card .footer{
    border-radius: 0;
    width: 100%;
}

.card-footer{
    padding: 0;
    align-content: stretch;
}